*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 2rem;
    background-color: bisque;
    text-align: center;
}

#titulo {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    color: black;
}

#botao {
    padding: 10px;
    margin: 20px;
    background-color: rgb(122, 5, 231);
    color: white;
    border: none;
    border-radius: 20px;
    width: 100px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.514);
}

#botao:hover {
    background-color: rgb(146, 37, 248);
}

#botao:active {
    box-shadow: none;
}